html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,
cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,
caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: #ffffff;
	width: 100%;
}

ol,
ul {
	list-style: none;
}

img {
	object-fit: cover;
	display: block;
	border: none;
}

a:link {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: inherit;
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

blockquote,
q {
	quotes: none;
}

i,
em {
	font-style: normal;
}

.clear {
	clear: both;
}

.clear {
	clear: both;
}

button {
	outline: none !important;
	border: none;
	cursor: pointer;
}

.hide {
	display: none;
}

.centered {
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	min-height: 800px;
}
.row {
	padding: 0;
	margin: 0;
}

.layui-layer-msg {
	width: 210px;
}

.paging {
	width: 100%;
	text-align: center
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
	background-color: #195edd;
}
.centre{
	width: 1200px;
	margin: 0 auto;
}
/* 头部 */
header {
	width: 100%;
	height: 136px;
}
header .top{
	width: 100%;
	height: 30px;
	line-height: 30px;
	background-color: #f7f8fa;
	font-size: 14px;
	color: #666666;
}
header .top section{
	width: 1200px;
	height: 30px;
	margin: 0 auto;
}
header .top section p{
	float: left;
	margin-right: 25px;
}
header .top section p:last-child{
	float: right;
	cursor: pointer;
	margin: 0;
}
header .top section p:last-child img{
	display: block;
	float: left;
	margin-right: 10px;
	margin-top: 7px;
}
header nav{
	width: 1200px;
	height: 105px;
	margin: 0 auto;
}
header nav h1{
	padding-top: 18px;
	color: #029042;
	width: 380px;
	float: left;
}
header nav h1 img{
	display: block;
	float: left;
	margin-right: 30px;
}
header nav h1 p{
	font-size: 22px;
	padding-top: 4px;
}
header nav h1 i{
	font-size: 14px;
	display: block;
    margin-top: -5px;
}
header nav  ul{
	float: right;
}
header nav  ul li{
	float: left;
	font-size: 18px;
	color: #000000;
	margin-left: 37px;
	line-height: 105px;
	cursor: pointer;
	position: relative;
}
header nav  ul .active i{
	display: block;
	width: 100%;
	height: 6px;
	background-color: #029042;
	position: absolute;
	bottom: 0;
	border-radius: 3px;
}
/* 首页轮播图 */
.banner img{
	width: 100%;
	height: auto;
}
.notice{
	width: 100%;
	height: 34px;
	background-color: #f7f8fa;
	overflow: hidden;
}
.notice section{
	width: 1200px;
	margin: 0 auto;
}
.notice section div{
	line-height: 34px;
	font-size: 14px;
	color: #666666;
	cursor: pointer;
}
.notice section i{
	display: block;
	float: left;
	font-size: 20px;
	margin-top: 5px;
    margin-right: 5px;
}
/* 公告标题 */
.title{
	padding: 50px 0;
}
.title p{
	font-size: 24px;
	color: #333333;
	font-weight: bold;
}
.title p span{
	font-size: 14px;
	color: #666666;
	padding-left: 18px;
	font-weight: normal;
}
.employee{
	padding-bottom: 50px;
	overflow: hidden;
}
/* 模块 */
.course li{
	width: 33.3%;
	height: 300px;
	float: left;
	cursor: pointer;
	position: relative;
}
.course li .kbox{
	width: 336px;
	height: 255px;
	border: 1px solid #e7e6ed;
	position: absolute;
	top: 43px;
	left: 43px;
	z-index: 8;
	padding: 22px;
	transition: all 0.3s;
}
.course li .kbox .right{
	padding-left: 125px;
	height: 150px;
	position: relative;
	transition: all 0.3s;
}
.course li .kbox .right h2{
	font-size: 16px;
	color: #333333;
	margin-bottom: 20px;
}
.course li .kbox .right p{
	font-size: 12px;
	color: #333333;
}
.course li .kbox .right i{
	font-size: 12px;
	color: #666666;
	position: absolute;
	bottom: 0;
	line-height: 20px;
}
.course li .kbox .timeBox{
	width: 100%;
	height: 45px;
	border-top: 1px solid #e7e6ed;
	margin-top: 35px;
	transition: all 0.3s;
}
.course li .kbox .timeBox span{
	display: block;
	float: left;
	line-height: 45px;
	width: 50%;
	color: #666666;
	font-size: 12px;
}
.course li .kbox .timeBox span img{
	display: block;
	float: left;
	margin-top: 13px;
	margin-right: 8px;
}
.course li .gbox{
	width: 178px;
	height: 226px;
	position: absolute;
	border-radius: 3px;
	z-index: 9;
	transition: all 0.3s;
}
.course li:nth-child(1) .gbox{
	background: url(../img/bk1.png);
}
.course li:nth-child(2) .gbox{
	background: url(../img/bk2.png);
}
.course li:nth-child(3) .gbox{
	background: url(../img/bk3.png);
}
.course li .gbox h1{
	font-size: 18px;
	color: #ffffff;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin: 85px 0 15px 0;
}
.course li .gbox p{
	font-size: 12px;
	color: #ffffff;
	width: 100%;
	text-align: center;
	opacity: .8;
}
.course li .gbox a{
	font-size: 12px;
	color: #ffffff;
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 40px;
	opacity: .8;
}
.course li:hover .kbox{
    width: 95%;
	height: 300px;
	top: 0;
	left: 0;
	transition: all 0.3s;
	padding-top: 10px;
	box-shadow:0px 8px 10px 0px #e6e6e6 ;
	-webkit-box-shadow:0px 8px 10px 0px #e6e6e6 ;
	-moz-box-shadow:0px 8px 10px 0px #e6e6e6 ;
}
.course li:hover .kbox .right{
	padding-left: 186px;
	height: 230px;
	transition: all 0.3s;
}
.course li:hover .timeBox{
	margin-top: 13px;
	transition: all 0.3s;
}
.course li:hover .gbox{
	margin-top: 12px;
	margin-left: 22px;
	transition: all 0.3s;
}


.manager{
	width: 100%;
	height: 470px;
	background-color: #f7f8fa;
}
.information section{
	width: 100%;
	height: 580px;
	border: 1px solid #E7E6ED;
}
.information section .left{
	width: 868px;
	height: 470px;
	float: left;
}
.information section .left .videoBox{
	width:868px;
	height:491px;
	background:rgba(0,0,0,1);
	position: relative;
}
.information section .left .videoBox:before {
	content: "食品安全培训网";
	font-family: "宋体";
	font-size: 28px;
	color: #8D8D8D;
	background-color: #eeeeee;
    top: 0;
    text-align: center;
    line-height: 491px;
    width:100%;
    position: absolute;
    z-index: 9;
}
.videosamplex{
	z-index: 99999;
}
.information section .left .videoBox img{
	width: 100%;
	height: 100%;
}
.information section .left .synopsis{
	width:868px;
	height:90px;
	padding: 23px 29px;
}
.information section .left .synopsis h1{
	font-size:18px;
	font-weight:bold;
	color: #333333;
	margin-bottom: 10px;
}
.information section .left .synopsis a{
	font-size:18px;
	color: #FE5409;
	margin-left: 20px;
	font-weight: normal;
}
.information section .left .synopsis span{
	font-size:14px;
	color: #333333;
	margin-right: 49px;
}
.information section .left .synopsis span:last-child{
	cursor: pointer;
}
.information section .right{
	width: 330px;
	height: 100%;
	float: right;
	padding: 23px 0 20px 18px;
	border-left: 1px solid #E7E6ED;
}
.information section .right h1{
	font-size: 16px;
	color: #666666;
	font-weight:bold;
}
.information section .right h1 span{
	font-size: 12px;
	color: #999999;
	margin-left: 9px;
	font-weight: normal;
}
.information section .right ul{
	margin-top: 5px;
}
.information section .right ul li{
	width: 100%;
	border-bottom: 1px solid #E7E6ED;
	padding: 23px 0;
	cursor: pointer;
}
.information section .right ul li:last-child{
	border: none;
}
.information section .right ul li span{
	display: block;
	float: left;
	width:64px;
	height:23px;
	background:#DADEDD;
	border-radius:12px;
	text-align: center;
	line-height:23px;
	color: #999999;
	font-size: 12px;
}
.information section .right ul li p{
	font-size: 14px;
	color: #999999;
	margin-left: 76px;
}
.information section .right ul .active span{
	background-color: #1CC39A;
	color: #ffffff;
}
.information section .right ul .active p{
	color: #000000;
	font-weight: bold;
}
.information section .right button{
	width:253px;
	height:54px;
	background:rgba(245,82,13,1);
	border-radius:3px;
	font-size:14px;
	color: #ffffff;
	display: block;
	margin: 25px auto;
}
.foodInformation {
	margin-bottom: 114px;
	overflow: hidden;
}
.foodInformation section > div{
	float: left;
}
.foodInformation section .left{
	width:381px;
	height:340px;
	background:rgba(248,247,253,1);
	float: left;
}
.foodInformation section .left .imgBox{
	width:100%;
	height:227px;
	position: relative;
}
.foodInformation section .left .imgBox:before {
	content: "食品安全培训网";
	font-family: "宋体";
	font-size: 20px;
	color: #8D8D8D;
	background-color: #eeeeee;
    top: 0;
    text-align: center;
    line-height: 227px;
    width:100%;
    position: absolute;
    z-index: 9;
}
.foodInformation section .left .imgBox img{
	display: block;
	width: 100%;
	height: 100%;
}
.foodInformation section .left time{
	font-size: 14px;
	color: #666666;
}
.foodInformation section .left .textBox{
	padding: 10px;
}
.foodInformation section .left .textBox p{
	font-size: 16px;
	font-weight:bold;
	color: #333333;
	margin-top: 8px;
	line-height: 24px;
}
.foodInformation section .left .textBox a{
	font-size: 12px;
	color: #246EC9;
	float: right;
}
.foodInformation section .middle {
	width:381px;
	height:340px;
	margin: 0 32px;
}
.foodInformation section .middle ul{
	border-bottom: 2px solid #E7E6ED;
}
.foodInformation section .middle ul li {
	width: 100%;
	height: 14px;
	line-height: 14px;
	margin-bottom: 14px;
	cursor: pointer;
	color: #333333;
}
.foodInformation section .middle ul li p{
	font-size: 14px;
	width: 280px;
	float: left;
	-webkit-line-clamp: 1;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
.foodInformation section .middle ul li span{
	float: right;
}
.foodInformation section .middle a{
	font-size: 12px;
	color: #246EC9;
	float: right;
	margin-top: 5px;
}
.foodInformation section .middle ul li:hover{
	color: #246EC9;
}
.foodInformation section .right{
	width:374px;
	height:340px;
}
.foodInformation section .right ul li{
	width: 100%;
	height: 102px;
	background-color: #F4F1FE;
	margin-bottom: 12px;
	cursor: pointer;
	position: relative;
}
.foodInformation section .right ul li img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.foodInformation section .right ul li:before {
	content: "食品安全培训网";
	font-family: "宋体";
	font-size: 20px;
	color: #8D8D8D;
	background-color: #eeeeee;
    top: 0;
    text-align: center;
    line-height: 102px;
    width:100%;
    position: absolute;
    z-index: 9;
}
/* 公共底部 */
.footer{
	width: 100%;
	height:165px;
	background: url(../img/footer.png) no-repeat;
	background-size: 100% 100%;
	color: #ffffff;
	padding: 29px 0 13px 0;
}
.footer .left{
	width: 660px;
	float: left;
}
.footer h1{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 24px;
}
.footer .left p a{
	font-size: 14px;
	margin-right: 55px;
}
.footer .left p{
	font-size: 12px;
	opacity: .9;
	margin-top: 17px;
}
.footer .right{
	float: right;
	opacity: .9;
}
.footer .right ul {
	float: left;
}
.footer .right ul li{
	margin-bottom: 10px;
	font-size: 14px;
}
.footer .right ul li span{
	width: 90px;
	display: block;
	float: left;
}
.footer .right ul li span img{
	display: block;
	float: left;
	margin-top: 3px;
	margin-right: 8px;
}
.footer .right .ewm{
	float: left;
	width: 138px;
	height: 124px;
	margin-left: 60px;
	margin-top: -40px;
}
.footer .right .ewm img{
	display: block;
	margin: 0 auto;
	margin-bottom: 10px;
}
.footer .right .ewm p{
	font-size: 12px;
	width: 100%;
	text-align: center;
}
/* 登录 */
.loginMain{
	background: url(../img/loginBg.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 72vh;
	position: relative;
}
.loginMain section{
	background: url(../img/loginBox.png) no-repeat;
	background-size: 100% 100%;
	width: 480px;
	height: 480px;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -240px;
	margin-top: -225px;
	padding: 26px;
}
.loginMain section h1{
	font-size: 18px;
	color: #333333;
	font-weight:bold;
	width: 103px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 3px solid #397D47;
	margin-top: 10px;
	padding-bottom: 5px;
}
.loginMain section .qrCode{
	width: 236px;
	height: 236px;
	border-radius: 236px;
	display: block;
	margin: 31px auto;
	position: relative;
}
.loginMain section p{
	font-size: 14px;
	color: #333333;
	width: 100%;
	text-align: center;
	line-height: 25px;
}
.loginMain section .qrCode:before {
    content: "小程序码加载中...";
    font-family: "宋体";
    font-size: 20px;
    color: #8D8D8D;
    background-color: #eeeeee;
    top: 0;
	text-align: center;
	border-radius: 236px;
    line-height: 236px;
    width: 100%;
    position: absolute;
    z-index: 9;
}
.loginMain section .qrCode img{
	width: 100%;
	height: 100%;
	z-index: 10;
	position: absolute;
}
/* 个人中心 */
.userMain {
	background-color: #f2f3f4;
	overflow: hidden;
}
.userMain section{
	margin-top: 32px;
}
.sonBanner{
	width: 100%;
	height: 257px;
}
.sonBanner img{
	width: 100%;
	height: 257px;
	display: block;
}
.userTitle{
	font-size:24px;
	color: #333333;
	border-bottom: 1px solid #333333;
	width: 100%;
	overflow: hidden;
	margin-bottom: 45px;
}
.userTitle span{
	display: block;
	float: left;
	border-left: 8px solid #047BC7;
	margin-bottom: 9px;
	padding-left: 19px;
}
.userContent > div{
	float: left;
	margin-bottom: 90px;
}
.userContent .left{
	width:285px;
	height:678px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(231,230,237,1);
}
.userContent .left > img{
	width: 100%;
}
.userContent .left .tx{
	width: 89px;
	height: 89px;
	border-radius: 89px;
	background-color: #f1f1f1;
	z-index: 999;
	position: relative;
	margin: 0 auto;
	margin-top: -44.5px;
	cursor: pointer;
}
.userContent .left .tx img{
	width: 89px;
	height: 89px;
}
.userContent .left  h1{
	font-size: 24px;
	color: #333333;
	text-align: center;
	margin-top: 22px;
	width: 100%;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.userContent .left  p{
	font-size: 14px;
	color: #666666;
	text-align: center;
	margin-top: 10px;
	width: 100%;
	text-align: center;
}
.userContent .left .linkList{
	padding:18px 23px;
}
.userContent .left .linkList > div{
	border-top: 1px solid #E7E6ED;
	padding-top: 22px;
	padding-bottom: 10px;
}
.userContent .left .linkList h2{
	font-size: 18px;
	color: #333333;
	padding-left: 43px;
	margin-bottom: 6px;
}
.userContent .left .linkList h2 img{
	display: block;
	float: left;
	margin-right: 20px;
	margin-top: 2px;
}
.userContent .left .linkList p{
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	margin-bottom: 10px;
	cursor: pointer;
	line-height: 32px;
	margin: 0;
}
.userContent .left .linkList .active{
	background-color: #e4eaf2;
}
.userContent .left .quit{
	width: 100%;
	height:51px;
	background:rgba(41,105,201,1);
	font-size:15px;
	color: #ffffff;
	margin-top: 12px;
}
.userContent .right{
	width:890px;
	height:678px;
	margin-left: 25px;
}
.userContent .right > div{
	padding: 24px 28px;
}
.userContent .right .up{
	width:100%;
	height:305px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(231,230,237,1);
	margin-bottom: 26px;
}
.userContent .right .down{
	width:100%;
	height:347px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(231,230,237,1);
}
.userContent .right  h3{
	font-size: 16px;
	color: #333333;
	width: 100%;
	border-bottom: 1px solid #E7E6ED;
	padding-bottom: 10px;
	position: relative;
	font-weight: bold;
}
.userContent .right  h3:after {
    content: '';
    position: absolute;
    top: 97%;
    background: #2969C9;
    width: 72px;
    height: 2px;
    left: 0;
}
.userContent .right  h3 p{
	font-size: 12px;
	float: right;
	font-weight: normal;
	color: #999999;
}
.userContent .right  h3 p span{
	color: #333333;
}
.userContent .right .up h3{
	margin-bottom: 25px;
}
.userContent .right .Rleft {
	width: 530px;
	float: left;
}
.userContent .right .Rleft p{
	font-size: 14px;
	color: #666666;
	width: 100%;
	margin-bottom: 15px;
	padding-left: 5px;
}
.userContent .right .Rleft p span{
	width: 74px;
	display: block;
	float: left;
	margin-right: 30px;
}
.userContent .right .Rright{
	float: left;
}
.userContent .right .Rright h4{
	font-size: 14px;
	color: #666666;
	width:145px;
	text-align: center;
	font-weight: bold;
}
.userContent .right .Rright button{
	width:145px;
	height:38px;
	background:rgba(244,241,254,1);
	font-size: 12px;
	color: #999999;
	margin-top: 60px;
}
.userContent .right .courseSwiper{
	margin-top: 13px;
	height: 270px;
}
.userContent .right .courseSwiper time{
	font-size: 12px;
	color: #333333;
	display: block;
    position: absolute;
	bottom: 15px;
	width: 178px;
}
.userContent .right .courseSwiper time span{
	float: right;
	color: #F5520D;
}
.userContent .right .courseSwiper .gbox{
	width: 178px;
	height: 226px;
	position: absolute;
	border-radius: 3px;
	z-index: 9;
	transition: all 0.3s;
}
.userContent .right .courseSwiper .blue{
	background: url(../img/bk1.png);
}
.userContent .right .courseSwiper .green{
	background: url(../img/bk2.png);
}
.userContent .right .courseSwiper .yellow{
	background: url(../img/bk3.png);
}
.userContent .right .courseSwiper .gbox h1{
	font-size: 18px;
	color: #ffffff;
	width: 100%;
	text-align: center;
	font-weight: bold;
	margin: 85px 0 15px 0;
}
.userContent .right .courseSwiper .gbox p{
	font-size: 12px;
	color: #ffffff;
	width: 100%;
	text-align: center;
	opacity: .8;
}
.userContent .right .courseSwiper .gbox a{
	font-size: 12px;
	color: #ffffff;
	width: 100%;
	text-align: center;
	display: block;
	margin-top: 40px;
	opacity: .8;
}
.swiper-container-horizontal>.swiper-scrollbar{
	bottom: -3px;
}
/* 修改资料 */
#modifiedData .right{
	width:890px;
	height:678px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(231,230,237,1);
	padding: 24px 28px;
}
#modifiedData .right form{
	margin-top: 40px;
	width: 366px;
	padding-left: 5px;
}
#modifiedData .right form .layui-form-label{
	color: #666666;
	font-size: 14px;
	width: 70px;
	padding: 0;
	line-height: 38px;
	text-align: left;
}
#modifiedData .right form .layui-input-block{
	margin-left: 95px;
	width: 200px;
}
#modifiedData .right form .layui-input-block input{
	border: none;
}
#modifiedData .right form .layui-edge{
	display: none;
}
.right .save{
	width:262px;
	height:51px;
	background:rgba(41,105,201,1);
	border-radius:3px;
	font-size:14px;
	margin-left: 106px;
	margin-top: 40px;
	color: #ffffff;
	padding: 0;
}
#modifiedData .right form img{
	display: block;
	float: right;
	margin-top: -30px;
	cursor: pointer;
}
/* 更换手机号 */
#modifyPhone .right{
	width:890px;
	height:678px;
	background:rgba(255,255,255,1);
	border:1px solid rgba(231,230,237,1);
	padding: 24px 28px;
}
#modifyPhone .right form{
	margin-top: 40px;
	width: 366px;
	padding-left: 5px;
}
#modifyPhone .right form .layui-form-label{
	color: #666666;
	font-size: 14px;
	width: 90px;
	padding: 0;
	line-height: 38px;
	text-align: left;
}
#modifyPhone .right form .layui-input-block{
	margin-left: 95px;
	width: 250px;
}
#modifyPhone .right .save{
	width:250px;
	height:51px;
	background:rgba(41,105,201,1);
	border-radius:3px;
	font-size:14px;
	margin-left: 96px;
	margin-top: 30px;
	color: #ffffff;
	padding: 0;
}
#modifyPhone .authCode input{
	width: 160px;
	float: left;
}
#modifyPhone .authCode button{
	float: left;
	width: 84px;
    padding: 0;
    text-align: center;
	margin-left: 6px;
	background-color: #2969C9;
}
/* 我的消息 */
.publicList .right{
	width:890px;
	height:auto;
	background:rgba(255,255,255,1);
	border:1px solid rgba(231,230,237,1);
	padding: 24px 28px;
}
.publicList .right ul li{
	padding: 29px 0;
	border-bottom: 1px solid #E7E6ED;
	cursor: pointer;
}
.publicList .right ul li h1{
	font-size: 18px;
	color: #333333;
	font-weight: bold;
}
.publicList .right ul li time{
	font-size: 12px;
	color: #333333;
	margin-left: 18px;
	font-weight: normal;
}
.publicList .right ul li span{
	float: right;
	color: #999999;
	font-size: 12px;
	margin-top: 4px;
}
.publicList .right ul li p{
	margin-top: 27px;
	font-size: 14px;
	color: #666666;
}
.publicList .right ul li .read{
	color: #F5520D;
}